.quiz-interface {
  height: 100vh;
  background-color: #041325;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.quiz-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px #00000026;
  padding: 30px;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  max-width: 1200px; 
  height: 100%;
  max-height: 80vh; 
  overflow-y: auto; 
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 20px; 
}

.quiz-header div {
  font-size: 40px;
  font-weight: 700;
}

.quiz-header:first-child {
  color: #474444;
}

.timer {
  color: red;
  font-weight: 700;
}

.question-text {
  font-size: 40px;
  font-weight: 700;
  color: #474444;
  margin-bottom: 40px;
  text-align: center;
}

.options-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px 100px;
  width: 100%;
  max-width: 800px; 
  margin-bottom: 30px;
}

.option {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 320px;
  height: 112px; 
  padding: 10px;
  background-color: rgb(218, 218, 218);
  border: 2px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  overflow: hidden; 
}

.option.with-image {
  flex-direction: row; 
}

.option.without-text .option-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.option p {
  font-size: 34px; 
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap;
}

.option-image {
  max-width: 100%; 
  max-height: 100%;
  height: auto;
}

.with-image-text {
  margin-left: 10px;
  font-size: 14px; 
  line-height: 1.2;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}

.option.selected {
  border: 5px solid rgba(80, 118, 255, 1);
}

 .quiz-box button {
  margin-top: auto; 
  width: 320px;
  max-width: 320px;
  height: 56px; 
  font-size: 30px;
  font-weight: 600;
  background-color: #60b84b;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 100vh; 
  width: 100vw; 
}

.QA-msg {
  font-size: 40px;
  color: rgba(71, 68, 68, 1);
  font-weight: bold;
  text-align: center;
  white-space: nowrap; 
} 

.results-container span {
  display: flex;
  color: rgba(71, 68, 68, 1);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.results-container span p{
  color: rgba(96, 184, 75, 1);
  font-size: 40px;
}
.results-container img{
  width: 320px;
  height: 320px;
}

/* responsive */
@media (max-width: 768px) {
  .quiz-interface {
    padding: 0;
  }
  .quiz-box {
    border-radius: 0;
    padding: 20px;
  max-width: 100%; 
    height: 100%; 
    max-height: none; 
  }

  .quiz-header div {
    font-size: 20px; 
  }

  .question-text {
    font-size: 24px; 
    margin-bottom: 20px;
  }

  .options-container {
    grid-template-columns: 1fr; 
    gap: 20px;
  }

  .option p {
    font-size: 18px; 
  }

  .option img {
    width: 100%; 
    height: auto;
    margin-right: 0; 
  }

  button {
    font-size: 20px; 
    height: 50px; 
  }

  .results-container h2, .results-container span, .results-container span p {
    font-size: 34px;
    justify-content: center;
    white-space: normal;
  }
}
.option-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.poll-msg{
  font-size: 74px;
  width: 800px;
  text-align: center;
  color: #474444;
}
.loading-msg {
  font-size: 50px;
  font-weight: 500;
  color: #474444;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}